<div class="row">
    <div class="col-sm-3"></div>
<div class="col-sm-9 main-content">
    <img class="top-img" src="https://picsum.photos/200/300" alt="img" />
    <div class class="top-info">
        <span class="title">Johanna Stevens</span>
        <span class="position">UI/UX Designs</span>
        <div class="top-btns">
            <a href="#" class="btn btn-primary message-btn"><img class="contact-icon1" src="../../../../assets/images/msgwhite.svg" />Message</a>
            <button class="contact-btn"><img class="contact-icon1" src="../../../../assets/images/msg.svg" /></button>
            <button class="contact-btn"><img class="contact-icon2" src="../../../../assets/images/call.svg" /></button>
            <button class="contact-btn"><img class="contact-icon3" src="../../../../assets/images/more.svg" /></button>
        </div>
    </div>
</div>
</div>
<div class="row detail-item">
    <div class="col-sm-3 label">Email</div>
    <div class="col-sm-9 value">When I first got into the advertising, I was looking for the magical combination that would put website into the top search engine rankings</div>
</div>
<div class="row detail-item">
    <div class="col-sm-3 label">Email</div>
    <div class="col-sm-9 value">When I first got into the advertising, I was looking for the magical combination that would put website into the top search engine rankings</div>
</div>
<div class="row detail-item">
    <div class="col-sm-3 label">Email</div>
    <div class="col-sm-9 value">When I first got into the advertising, I was looking for the magical combination that would put website into the top search engine rankings</div>
</div>
<div class="row detail-item">
    <div class="col-sm-3 label">Email</div>
    <div class="col-sm-9 value">
        <div class="contact-btns">
            <button class="contact-btn"><img class="contact-icon1" src="../../../../assets/images/msg.svg" /></button>
            <button class="contact-btn"><img class="contact-icon2" src="../../../../assets/images/call.svg" /></button>
            <button class="contact-btn"><img class="contact-icon3" src="../../../../assets/images/more.svg" /></button>
        </div>
    </div>
</div>