<div class="contact-item">
    <div class="start-container">
        <img class="contact-img" src="https://picsum.photos/200/300" alt="contactImg" />
        <p class="information">
            <span class="contact-name">{{contact.name}}</span>
            <span class="contact-position">{{contact.position}}</span>
        </p>
    </div>
    <div class="contact-btns">
        <button class="contact-btn"><img class="contact-icon1" src="../../../../assets/images/msg.svg" /></button>
        <button class="contact-btn"><img class="contact-icon2" src="../../../../assets/images/call.svg" /></button>
        <button class="contact-btn"><img class="contact-icon3" src="../../../../assets/images/more.svg" /></button>
    </div>
</div>