.sidebar
	width: 636px 
	height: 100vh 
	background: #FAF9FF 
	padding: 17px 

.main-container
	display: flex 

.search-title 
	font-weight: 400 
	font-size: 14px 
	color: #8083A3 
	margin-top: 28px 
	margin-left: 20px 
	margin-bottom: 0 

.search-categs 
	font-weight: 700 
	font-size: 16px 
	color: #1A1C1D 
	margin-top: 8px 
	margin-left: 20px 
